# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=changeme_in_production
DB_NAME=babyconnect

# Prisma (enter the value in gross form)
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"

# Server
SERVER_PORT=8080

# JWT
JWT_SECRET=babyconnect-super-secret-key-2026
